.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #000;
  width: 100%;
  overflow-x: auto;
  min-width: 320px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000;
  padding-top: 80px; /* padding to account for fixed header */
}

/* Universal selector- resets default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* Global anchor tag (links) */
a {
  text-decoration: none;
}

/* Global button */
button {
  cursor: pointer;
  border: none;
  outline: none;
}
